<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ty.zbpet">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".ui.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/zblogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="true"
        tools:targetApi="n">
        <!-- .ui.activity.MainActivity -->
        <!-- .ui.TestMainActivity -->
        <!-- .ui.activity.system.LoginActivity -->
        <!-- .ui.activity.DemoMainActivity -->
        <!-- .ui.activity.system.QualityCheckTabActivity -->
        <activity
            android:name=".ui.activity.system.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.PrimaryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.material.ArrivalInTodoDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.material.ArrivalInDoneDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.material.PickOutTodoDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.system.PersonCenterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.product.ProductTodoDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.ScanBoxCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.activity.material.BackGoodsTodoDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.material.BackGoodsDoneDetailActivity" />
        <activity android:name=".ui.activity.material.PickOutDoneDetailActivity" />
        <activity android:name=".ui.activity.product.BuyInTodoDetailActivity" />
        <activity android:name=".ui.activity.product.BuyInDoneDetailActivity" />
        <activity android:name=".ui.activity.product.ProductDoneDetailActivity" />
        <activity android:name=".ui.activity.product.SendOutTodoDetailActivity2" />
        <activity android:name=".ui.activity.product.SendOutDoneDetailActivity" />
        <activity android:name=".ui.activity.product.ReturnGoodsTodoDetailActivity" />
        <activity android:name=".ui.activity.product.ReturnGoodsDoneDetailActivity" />
        <activity android:name=".ui.activity.system.QualityCheckTodoDetailActivity" />
        <activity android:name=".ui.activity.system.QualityCheckDoneDetailActivity" />
        <activity android:name=".ui.activity.system.UserUpDataPass" />
        <activity android:name=".ui.activity.MainCompanyActivity" />
        <activity android:name=".ui.activity.system.StockTrackActivity" />
        <!--<activity android:name=".ui.activity.system.LoginActivity" />-->
        <activity android:name=".ui.activity.system.QualityCheckTabActivity" />
        <activity android:name=".ui.activity.system.BoxCodeQueryActivity" />
        <activity android:name=".ui.activity.system.LocationQueryActivity" />
        <activity android:name=".ui.activity.wareroom.MoveRoomMainActivity" />
        <activity android:name=".ui.activity.wareroom.MoveRoomMaterialsActivity" />
        <activity android:name=".ui.activity.wareroom.SourceLocationActivity" />
        <activity android:name=".ui.activity.wareroom.TargetLocationActivity" />
        <activity android:name=".ui.activity.wareroom.ReversalMaterialsActivity" />
        <activity android:name=".ui.activity.wareroom.ProductMoveActivity" />
        <activity android:name=".ui.activity.wareroom.ProductReversalActivity" />
        <activity android:name=".ui.activity.system.PositionQueryActivity" />
        <activity android:name=".ui.activity.wareroom.InventoryMainActivity" />

    </application>

</manifest>